<%= form_tag "/form_answer", method: :post do %>
  <div>
    Enter your guess here: <input type="text" name="guess">
  </div>
  <div>
    <input type="submit" value="Submit your guess!">
  </div>
<% end %>