<p>Hello!</p>

<p> Your name is <%= @name %> </p>

<p> <%= if @name[0].downcase == "a".downcase
          "Hey, your name starts with the first letter of the alphabet!"
        else
        end %> </p>
